.layers-1 {
    background-image: url(//img/layer-1.jpg);
}
.layers-2 {
    background-image: url(//img/layer-2.png);
}
.layers-5 {
    background-image: url(//img/layer-5.png);
}
.layers-6 {
    background-image: url(//img/layer-6.png);
}